c:\Users\user\OneDrive\Documents\GitHub\InSync-ILES\backend\api\__pycache__\__init__.cpython-313.pyc
c:\Users\user\OneDrive\Documents\GitHub\InSync-ILES\backend\api\__pycache__\admin.cpython-313.pyc
c:\Users\user\OneDrive\Documents\GitHub\InSync-ILES\backend\api\__pycache__\admin.cpython-313.pyc
c:\Users\user\OneDrive\Documents\GitHub\InSync-ILES\backend\api\__pycache__\models.cpython-313.pyc
c:\Users\user\OneDrive\Documents\GitHub\InSync-ILES\backend\api\__pycache__\urls.cpython-313.pycs